@import "../../../themes/themes.scss";

.input-container {
    display: flex;
    width: 100%;
    padding: 20px 19px;
    column-gap: 19px;
    border-radius: 13px;
    border : 1px solid #20283E;
    background: #0F1627;
    i{
        font-size: 20px;
        color: $app-textgray;
    }
    input{
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;

    }
}